*.sublime-workspace
nestest_output.log
profile.json.gz
src/nestest_output.log
.vscode/launch.json
flamegraph.svg
Cargo.lock

#folders
target/
.saves/
.vscode/
NES_GAMES/
NES_TEST_ROMS/
.log/
config.json
/NES_GAME_DEV
